.container {
    margin: 20px;
}

button {
    margin-top: 10px;
}

.tahtaeg {
    margin: 0 10px 0 10px;
}

.text {
    margin-bottom: 10px;
}

.list {
    margin-top: 30px;
}


.ticket-table th,
.ticket-table td {
  padding: 10px; 
}

.table-header {
    padding: 10px;
  }
  
  .kirjeldus-column {
    max-width: 300px;
    word-wrap: break-word;
    display: inline-block;
  }

  .red-row {
    color: red;
  }